.app {
    background: url('./assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    width: 100vw;
    min-height: 100vh;    


    display: flex;              /* ✅ key fix */
    flex-direction: column;     /* stack navbar + content */
    align-items: center;        /* center horizontally */

    overflow-x: hidden;
}

.features-nav{
    max-width: 100%;
}

.showcase-wrapper{
    min-height: calc(100vh - 300px) !important;
    
}
